.section{id: section_id}
  .subtitle= title
  .card-list
    - calls.each do |call|
      = link_to call_path(call) do
        .list-item.card.card-square
          .card-title
          .card-content
            .day
              = DateFormatter.day(call.scheduled_on)
            .month
              = DateFormatter.small_month_day(call.scheduled_on)
            .time
              = DateFormatter.time(call.scheduled_on)
          .card-footer
            = link_to "Edit", edit_call_path(call)
