<%= form_for @group do |form| %>
    <div class="form-field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="form-field">
      <%= form.label :call_day %>
      <%= form.select :call_day,
                      options_for_select(Group.call_day_options) %>
    </div>

    <div class="form-field">
      <%= form.label :call_time, "Default call time" %>
      <div class="select-field-row">
        <%= form.time_select :call_time, minute_step: 10, ampm: true %>
      </div>
    </div>

    <% if action_name == "new" %>
      <div class="form-field">
        <%= label_tag :emails %>
        <%= text_field_tag :emails %>
      </div>
    <% end %>

    <%= form.submit %>
<% end %>
