.centered-content.column
  .title
    Your groups
  .new-record-button
    = link_to "Start a group", new_group_path

  - if @groups.empty?
    %p.no-records-message
      You don't belong to any groups yet.

    %p.no-records-message
      Take a look at your invites or start your own.

  - else
    .card-list
      - @groups.each do |group|
        = link_to group_path(group) do
          .list-item.card.card-small
            .card-title= group.name
            .card-content
              = group.memberships.count
              members
            .card-footer.row
              - group.users.take(5).each do |user|
                .avatar= user.initials


