<div class="centered-content column">
  <div class="title">
    <%= @group.name %>
  </div>
  <div class="top-link">
    <%= link_to "Back to groups", groups_path %>
  </div>
  <div class="top-link">
    <%= link_to "Edit #{@group.name}", edit_group_path(@group) %>
  </div>
  <div class="top-link">
    Created by: <%= @group.facilitator.full_name %>
  </div>

  <% if @group.todays_call.present? %>
    <%= render "calls_section",
               title: "Today's call",
               calls: [@group.todays_call],
               section_id: "todays_call" %>
  <% else %>
    <%= render "calls_section",
               title: "Upcoming call",
               calls: [@group.upcoming_call],
               section_id: "upcoming_call" %>
  <% end %>

  <%= render "calls_section",
             title: "Previous call",
             calls: @previous_calls,
             section_id: "previous_calls" %>
</div>
