.centered-content.column
  .title
    = @group.name

  %p
    Created by:
    = @group.facilitator.full_name

  - if @group.todays_call.present?
    = render 'calls_section',
      title: "Today's call",
      calls: [@group.todays_call],
      section_id: "todays_call"

  - else
    = render 'calls_section',
      title: "Upcoming call",
      calls: [@group.upcoming_call],
      section_id: "upcoming_call"

  = render 'calls_section',
    title: "Previous calls",
    calls: @previous_calls,
    section_id: "previous_calls"

