.card{data: { controller: 'call-commitments', call_id: commitments.first&.call_id } }
  .card-title
    = title
  .primary-list.card-content
    - if commitments.empty?
      .list-item
        = empty_message
    - commitments.sort_by(&:membership_id).each do |commitment|
      .list-item.space-between{data: {target: 'call-commitments.commitment' } }
        .commitment-body{id: dom_id(commitment)}
          = render 'commitment_body', commitment: commitment

        .commitment-links
          - if current_user == commitment.user
            .edit
              = render 'edit_commitment_link', commitment: commitment

          - if show_completed
            .confirm
              = commitment_confirmation_link(commitment) 

  .card-footer
    - if show_form
      #commitment_form
        .title I'm committing to
        = form_with model: [@page.call, Commitment.new], remote: true do |form|
          .form-field
            = form.text_field :body
          = form.submit

