.card{data: { controller: 'call-commitments', commitment_call_id: commitments.first&.call_id, call_id: @page.call.id, current_user_id: current_user.id } }
  .card-title
    = title
  .primary-list.card-content{data: { target: 'call-commitments.commitmentList' }, id: show_form && dom_id(@page.call, 'commitments')}
    - if commitments.empty?
      .list-item#empty_message{data: {target: 'call-commitments.emptyMessage'}}
        = empty_message
    - commitments.sort_by(&:membership_id).each do |commitment|
      = render 'commitment',
        commitment: commitment,
        viewer: viewer,
        show_completed: show_completed

  .card-footer
    - if show_form
      #commitment_form
        .title I'm committing to
        = form_with model: [@page.call, Commitment.new], remote: true do |form|
          .form-field
            = form.text_field :body
          = form.submit

