.card
  .card-title
    = title
  .primary-list.card-content
    - if commitments.empty?
      .list-item
        = empty_message
    - commitments.sort_by(&:membership_id).each do |commitment|
      .list-item.space-between
        .commitment-body{id: dom_id(commitment)}
          = render 'commitment_body', commitment: commitment

        .completion
          - if current_user == commitment.user
            = render 'edit_commitment_link', commitment: commitment

          - if show_completed && !@page.viewer_can_update_commitment?(commitment)
            = octicon @page.commitment_icon(commitment),
                class: @page.icon_class(commitment)

          - if show_completion_links && @page.viewer_can_update_commitment?(commitment)
            = link_to call_commitment_path(commitment.call, commitment, @page.commitment_param(commitment)),
                method: :patch do

              = octicon @page.commitment_icon(commitment),
                class: @page.icon_class(commitment)


  .card-footer
    - if show_form
      #commitment_form
        .title I'm committing to
        = form_with model: [@page.call, Commitment.new], remote: true do |form|
          .form-field
            = form.text_field :body
          = form.submit

