.card.card-large
  .card-title Notes
  .primary-list.card-content#notes_container{data: {call_id: @page.call.id}}
    - @page.notes.each do |note|
      .list-item
        = note.author.full_name
        = note.body

  .form.card-footer#note_form
    .title Add a note
    = form_with model: [@page.call, Note.new], url: call_note_path(@page.call) do |form|
      .form-field
        = form.text_area :body
      = form.submit
