.call-details-container
  .call-details-columns
    .title
      -if @page.viewing_todays_call?
        Today's Call:
      - else
        Call on:
      = DateFormatter.month_day_time(@page.call.scheduled_on)

    .back-link
      = link_to "Back to #{@page.group.name}", group_path(@page.group)

    .column.column-left
      = render 'commitment_cards'

    .column.column-right
      #timer_container{ data: { call_id: @page.call.id } }
        = render 'timer_card'
      = render 'notes_card'
