<div class="centered-content">
  <div class="profile-content">
    <div class="title-large">
      <%= current_user.full_name %>
      <%= link_to edit_user_path do %>
        <%= octicon "pencil", height: 24 %>
      <% end %>
    </div>

    <%= UserAvatar.render(current_user, size: :large) %>

    <div class="subtitle">Email: <%= current_user.email %></div>
    <% if current_user.receive_reminder_email %>
      <div class="subtitle">You are subscribed to reminder emails</div>
    <% else %>
      <div class="subtitle">You are not subscribed to reminder emails</div>
    <% end %>
  </div>
</div>
